In [26]:
# import warnings
# warnings.filterwarnings('error', category=DeprecationWarning)
import pandas as pd
from tqdm import tqdm

import warnings
warnings.filterwarnings('ignore')

# Import data and process

In [27]:
df = pd.read_csv('datasets/annotation/Annotation_all.csv', encoding='latin-1')
df

,index,a,coh-a-1,flu-a-1,coh-a-2,flu-a-2,coh-a-3,flu-a-3,b,coh-b-1,...,coh-d,flu-d,coh-e,flu-e,coh-f,flu-f,coh-g,flu-g,coh-h,flu-h
0,squad-better,"In 1954, major Serbian and Croatian writers, l...",6,6,6,6,4,4,"In 1954 , major Serbian and Croatian writers ,...",1,...,4.666667,5.333333,4.666667,4.333333,3.333333,4.000000,3.666667,5.333333,4.666667,6.000000
1,squad-better,The Bush administration then turned its attent...,6,6,7,7,6,6,The Bush administration then turned its attent...,3,...,4.000000,4.333333,4.000000,4.666667,2.666667,2.666667,5.000000,4.666667,5.666667,5.000000
2,squad-better,An adolescent's environment plays a huge role ...,6,7,5,6,6,6,An adolescent 's environment plays a huge role...,1,...,4.666667,5.000000,5.000000,5.666667,4.666667,5.666667,5.333333,5.333333,3.666667,5.666667
3,squad-better,"Compared to other team sports, the National Fo...",6,5,5,5,3,5,"Compared to other team sports , the National F...",5,...,3.000000,4.333333,4.333333,5.000000,2.666667,4.333333,4.333333,3.333333,5.333333,5.666667
4,squad-better,"In practice, not all rule violations will resu...",5,6,4,5,5,6,"In practice , not all rule violations will res...",5,...,5.000000,5.333333,5.666667,5.333333,5.333333,5.000000,5.666667,5.333333,4.333333,5.666667
5,squad,"In 1954, major Serbian and Croatian writers, l...",7,6,5,6,4,4,"In 1954 , major Serbian and Croatian writers ,...",4,...,4.666667,4.666667,3.000000,4.333333,4.000000,4.666667,5.333333,5.333333,5.000000,5.333333
6,squad,The Bush administration then turned its attent...,6,6,6,5,6,6,The Bush administration then turned its attent...,6,...,5.666667,5.666667,4.666667,4.666667,3.333333,3.333333,6.333333,6.333333,4.333333,5.000000
7,squad,An adolescent's environment plays a huge role ...,6,7,3,7,6,6,An adolescent 's environment plays a huge role...,3,...,5.000000,5.333333,3.666667,4.333333,5.666667,5.666667,6.000000,6.000000,4.666667,6.000000
8,squad,"Compared to other team sports, the National Fo...",6,5,6,6,3,5,"Compared to other team sports , the National F...",1,...,2.333333,3.666667,4.666667,4.666667,3.000000,5.333333,5.000000,5.333333,5.333333,6.000000
9,squad,"In practice, not all rule violations will resu...",5,6,4,5,5,6,"In practice , not all rule violations will res...",6,...,2.666667,5.000000,4.333333,5.000000,5.333333,5.333333,4.333333,4.666667,4.333333,5.666667
10,writing-better,A man invents time travel in order to find a c...,5,5,6,3,3,3,A man invents time travel in order to find a c...,3,...,2.333333,2.666667,3.333333,3.333333,2.333333,2.666667,2.666667,2.333333,4.333333,4.333333
11,writing-better,You tell Death that you will never tire of liv...,5,5,4,2,5,4,You tell Death that you will never tire of liv...,5,...,5.000000,3.333333,4.333333,4.666667,2.666667,4.333333,4.666667,4.000000,5.666667,4.000000
12,writing-better,You leave a bowl of food out for the dragons. ...,4,5,1,6,5,5,You leave a bowl of food out for the dragons ....,3,...,3.333333,3.333333,3.000000,4.666667,2.333333,2.666667,4.666667,4.333333,1.333333,2.666667
13,writing-better,[ RF ] Your friend asks you to pick up some st...,3,3,7,5,4,3,[ RF ] Your friend asks you to pick up some st...,1,...,2.333333,2.333333,2.666667,2.666667,1.333333,1.333333,1.000000,1.000000,2.333333,2.333333
14,writing-better,"You were born into the Mafia, only it was hidd...",2,4,5,2,5,5,"You were born into the Mafia , only it was hid...",3,...,4.000000,4.000000,3.333333,4.000000,2.333333,1.666667,3.666667,2.333333,2.333333,2.666667
15,writing,A man invents time travel in order to find a c...,5,5,1,1,3,3,A man invents time travel in order to find a c...,2,...,2.666667,3.333333,1.333333,3.000000,2.333333,4.000000,3.000000,4.000000,1.666667,3.666667
16,writing,You tell Death that you will never tire of liv...,5,5,1,4,5,4,You tell Death that you will never tire of liv...,3,...,4.333333,4.000000,4.000000,3.333333,3.666667,2.666667,3.666667,3.000000,3.333333,2.666667
17,writing,You leave a bowl of food out for the dragons. ...,4,5,1,5,5,5,You leave a bowl of food out for the dragons ....,4,...,3.666667,3.666667,5.666667,5.666667,3.333333,2.666667,1.333333,1.666667,3.333333,4.666667
18,writing,[ RF ] Your friend asks you to pick up some st...,3,3,1,3,4,3,[ RF ] Your friend asks you to pick up some st...,1,...,2.333333,2.000000,2.666667,3.000000,1.666667,2.000000,1.333333,1.666667,1.333333,2.000000
19,writing,"You were born into the Mafia, only it was hidd...",2,4,6,6,5,5,"You were born into the Mafia , only it was hid...",2,...,1.666667,1.666667,3.333333,4.333333,3.000000,2.000000,4.666667,2.333333,4.333333,4.000000
20,xsum-better,"Maj Richard Scott, 40, is accused of driving a...",3,6,6,5,5,5,"Maj Richard Scott , 40 , is accused of driving...",1,...,3.666667,4.000000,3.666667,4.000000,3.000000,2.000000,2.000000,3.333333,2.333333,3.666667
21,xsum-better,The ban was backed by local authorities in Uru...,6,6,5,5,5,5,The ban was backed by local authorities in Uru...,2,...,1.333333,2.666667,1.666667,3.000000,4.333333,4.000000,4.000000,3.000000,3.000000,4.000000
22,xsum-better,Palmer expects to be fined by the British Hors...,5,6,3,6,4,4,Palmer expects to be fined by the British Hors...,1,...,1.666667,1.666667,4.000000,2.666667,3.333333,3.666667,3.666667,2.666667,4.333333,4.333333
23,xsum-better,"Regina Hungerford, 56, denied striking a 17-ye...",5,5,4,5,2,2,"Regina Hungerford , 56 , denied striking a 17-...",5,...,6.000000,5.333333,5.000000,4.666667,5.666667,5.000000,5.333333,5.000000,4.666667,4.333333
24,xsum-better,She was speaking at an event on Thursday to re...,3,4,5,4,4,3,She was speaking at an event on Thursday to re...,4,...,3.666667,1.666667,4.333333,3.666667,4.666667,4.000000,3.000000,4.666667,5.333333,5.000000
25,xsum,"Maj Richard Scott, 40, is accused of driving a...",3,6,5,3,5,5,"Maj Richard Scott , 40 , is accused of driving...",4,...,3.666667,4.000000,3.333333,4.333333,4.666667,5.333333,3.000000,2.333333,4.000000,3.000000
26,xsum,The ban was backed by local authorities in Uru...,6,6,6,7,5,5,The ban was backed by local authorities in Uru...,5,...,2.666667,3.666667,3.666667,4.000000,4.000000,4.333333,5.666667,5.666667,3.000000,4.333333
27,xsum,Palmer expects to be fined by the British Hors...,5,6,5,5,4,4,Palmer expects to be fined by the British Hors...,5,...,4.666667,5.333333,3.000000,2.333333,4.333333,4.000000,2.000000,1.666667,3.666667,4.333333
28,xsum,"Regina Hungerford, 56, denied striking a 17-ye...",5,5,4,6,2,2,"Regina Hungerford , 56 , denied striking a 17-...",5,...,4.333333,3.666667,2.666667,2.000000,3.333333,3.666667,4.000000,3.333333,4.666667,5.000000
29,xsum,She was speaking at an event on Thursday to re...,3,4,3,5,4,3,She was speaking at an event on Thursday to re...,6,...,4.666667,4.333333,2.000000,3.666667,2.000000,3.666667,3.000000,4.000000,1.666667,3.333333

In [28]:
for i in tqdm(range(len(df))):
    df.loc[i,'coh-a'] = float((df.loc[i,'coh-a-1']+df.loc[i,'coh-a-2']+df.loc[i,'coh-a-3'])/3)
    df.loc[i,'flu-a'] = float((df.loc[i,'flu-a-1']+df.loc[i,'flu-a-2']+df.loc[i,'flu-a-3'])/3)
    
    df.loc[i,'coh-b'] = float((df.loc[i,'coh-b-1']+df.loc[i,'coh-b-2']+df.loc[i,'coh-b-3'])/3)
    df.loc[i,'flu-b'] = float((df.loc[i,'flu-b-1']+df.loc[i,'flu-b-2']+df.loc[i,'flu-b-3'])/3)
    
    df.loc[i,'coh-c'] = float((df.loc[i,'coh-c-1']+df.loc[i,'coh-c-2']+df.loc[i,'coh-c-3'])/3)
    df.loc[i,'flu-c'] = float((df.loc[i,'flu-c-1']+df.loc[i,'flu-c-2']+df.loc[i,'flu-c-3'])/3)
    
    df.loc[i,'coh-d'] = float((df.loc[i,'coh-d-1']+df.loc[i,'coh-d-2']+df.loc[i,'coh-d-3'])/3)
    df.loc[i,'flu-d'] = float((df.loc[i,'flu-d-1']+df.loc[i,'flu-d-2']+df.loc[i,'flu-d-3'])/3)
    
    df.loc[i,'coh-e'] = float((df.loc[i,'coh-e-1']+df.loc[i,'coh-e-2']+df.loc[i,'coh-e-3'])/3)
    df.loc[i,'flu-e'] = float((df.loc[i,'flu-e-1']+df.loc[i,'flu-e-2']+df.loc[i,'flu-e-3'])/3)
    
    df.loc[i,'coh-f'] = float((df.loc[i,'coh-f-1']+df.loc[i,'coh-f-2']+df.loc[i,'coh-f-3'])/3)
    df.loc[i,'flu-f'] = float((df.loc[i,'flu-f-1']+df.loc[i,'flu-f-2']+df.loc[i,'flu-f-3'])/3)
    
    df.loc[i,'coh-g'] = float((df.loc[i,'coh-g-1']+df.loc[i,'coh-g-2']+df.loc[i,'coh-g-3'])/3)
    df.loc[i,'flu-g'] = float((df.loc[i,'flu-g-1']+df.loc[i,'flu-g-2']+df.loc[i,'flu-g-3'])/3)
    
    df.loc[i,'coh-h'] = float((df.loc[i,'coh-h-1']+df.loc[i,'coh-h-2']+df.loc[i,'coh-h-3'])/3)
    df.loc[i,'flu-h'] = float((df.loc[i,'flu-h-1']+df.loc[i,'flu-h-2']+df.loc[i,'flu-h-3'])/3)

100%|███████████████████████████████████████████████████████████████████████████████████████████| 30/30 [00:00<00:00, 464.39it/s]

In [29]:
df.to_csv('datasets/annotation/Annotation_all.csv', index=False)

# Calculate statistics for two candidate LLMs sets

In [31]:
df1 = pd.read_csv('datasets/annotation/Annotation_all-o.csv', encoding='latin-1')
df1.head()

,index,a,coh-a-1,flu-a-1,coh-a-2,flu-a-2,coh-a-3,flu-a-3,b,coh-b-1,...,coh-d,flu-d,coh-e,flu-e,coh-f,flu-f,coh-g,flu-g,coh-h,flu-h
0,squad,"In 1954, major Serbian and Croatian writers, l...",7,6,5,6,4,4,"In 1954 , major Serbian and Croatian writers ,...",4,...,4.666667,4.666667,3.000000,4.333333,4.000000,4.666667,5.333333,5.333333,5.000000,5.333333
1,squad,The Bush administration then turned its attent...,6,6,6,5,6,6,The Bush administration then turned its attent...,6,...,5.666667,5.666667,4.666667,4.666667,3.333333,3.333333,6.333333,6.333333,4.333333,5.000000
2,squad,An adolescent's environment plays a huge role ...,6,7,3,7,6,6,An adolescent 's environment plays a huge role...,3,...,5.000000,5.333333,3.666667,4.333333,5.666667,5.666667,6.000000,6.000000,4.666667,6.000000
3,squad,"Compared to other team sports, the National Fo...",6,5,6,6,3,5,"Compared to other team sports , the National F...",1,...,2.333333,3.666667,4.666667,4.666667,3.000000,5.333333,5.000000,5.333333,5.333333,6.000000
4,squad,"In practice, not all rule violations will resu...",5,6,4,5,5,6,"In practice , not all rule violations will res...",6,...,2.666667,5.000000,4.333333,5.000000,5.333333,5.333333,4.333333,4.666667,4.333333,5.666667

In [49]:
result_list = df1[:5]['best-1'].tolist() + df1[:5]['best-2'].tolist() + df1[:5]['best-3'].tolist()

count_dict = Counter(result_list)

print(count_dict)

Counter({'g': 5, 'a': 3, 'c': 3, 'h': 2, 'd': 1, 'f': 1})

In [32]:
df1_squad = df1[:5][['coh-a', 'flu-a','coh-b', 'flu-b','coh-c', 'flu-c','coh-d', 'flu-d','coh-e', 'flu-e','coh-f', 'flu-f','coh-g', 'flu-g','coh-h', 'flu-h',]]
df1_squad.describe()

,coh-a,flu-a,coh-b,flu-b,coh-c,flu-c,coh-d,flu-d,coh-e,flu-e,coh-f,flu-f,coh-g,flu-g,coh-h,flu-h
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,5.200000,5.733333,4.000000,3.800000,5.133333,5.333333,4.066667,4.866667,4.066667,4.600000,4.266667,4.866667,5.400000,5.533333,4.733333,5.600000
std,0.505525,0.547723,1.715938,1.069787,0.447214,0.707107,1.479489,0.767391,0.722649,0.278887,1.187902,0.930949,0.795822,0.649786,0.434613,0.434613
min,4.666667,5.333333,1.333333,2.666667,4.666667,4.333333,2.333333,3.666667,3.000000,4.333333,3.000000,3.333333,4.333333,4.666667,4.333333,5.000000
25%,5.000000,5.333333,3.333333,2.666667,4.666667,5.000000,2.666667,4.666667,3.666667,4.333333,3.333333,4.666667,5.000000,5.333333,4.333333,5.333333
50%,5.000000,5.666667,4.666667,4.333333,5.333333,5.333333,4.666667,5.000000,4.333333,4.666667,4.000000,5.333333,5.333333,5.333333,4.666667,5.666667
75%,5.333333,5.666667,5.000000,4.333333,5.333333,6.000000,5.000000,5.333333,4.666667,4.666667,5.333333,5.333333,6.000000,6.000000,5.000000,6.000000
max,6.000000,6.666667,5.666667,5.000000,5.666667,6.000000,5.666667,5.666667,4.666667,5.000000,5.666667,5.666667,6.333333,6.333333,5.333333,6.000000

In [50]:
result_list = df1[5:10]['best-1'].tolist() + df1[5:10]['best-2'].tolist() + df1[5:10]['best-3'].tolist()

count_dict = Counter(result_list)

print(count_dict)

Counter({'a': 6, 'e': 5, 'b': 3, 'h': 1})

In [51]:
df1_writing = df1[5:10][['coh-a', 'flu-a','coh-b', 'flu-b','coh-c', 'flu-c','coh-d', 'flu-d','coh-e', 'flu-e','coh-f', 'flu-f','coh-g', 'flu-g','coh-h', 'flu-h',]]
df1_writing.describe()

,coh-a,flu-a,coh-b,flu-b,coh-c,flu-c,coh-d,flu-d,coh-e,flu-e,coh-f,flu-f,coh-g,flu-g,coh-h,flu-h
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,3.400000,4.066667,2.800000,3.200000,2.400000,2.866667,2.933333,2.933333,3.400000,3.866667,2.800000,2.666667,2.800000,2.533333,2.800000,3.400000
std,0.641179,1.011050,1.483240,1.464392,0.862812,0.900617,1.064581,1.038161,1.605546,1.145038,0.802773,0.816497,1.464392,0.988826,1.260511,1.064581
min,2.666667,3.000000,1.000000,1.000000,1.333333,2.000000,1.666667,1.666667,1.333333,3.000000,1.666667,2.000000,1.333333,1.666667,1.333333,2.000000
25%,3.000000,3.000000,2.333333,2.666667,2.000000,2.333333,2.333333,2.000000,2.666667,3.000000,2.333333,2.000000,1.333333,1.666667,1.666667,2.666667
50%,3.333333,4.333333,2.333333,3.333333,2.333333,2.333333,2.666667,3.333333,3.333333,3.333333,3.000000,2.666667,3.000000,2.333333,3.333333,3.666667
75%,3.666667,5.000000,3.333333,4.333333,2.666667,3.666667,3.666667,3.666667,4.000000,4.333333,3.333333,2.666667,3.666667,3.000000,3.333333,4.000000
max,4.333333,5.000000,5.000000,4.666667,3.666667,4.000000,4.333333,4.000000,5.666667,5.666667,3.666667,4.000000,4.666667,4.000000,4.333333,4.666667

In [52]:
result_list = df1[10:]['best-1'].tolist() + df1[10:]['best-2'].tolist() + df1[10:]['best-3'].tolist()

count_dict = Counter(result_list)

print(count_dict)

Counter({'d': 4, 'b': 3, 'a': 2, 'g': 2, 'c': 1, 'h': 1, 'e': 1, 'f': 1})

In [34]:
df1_xsum = df1[10:][['coh-a', 'flu-a','coh-b', 'flu-b','coh-c', 'flu-c','coh-d', 'flu-d','coh-e', 'flu-e','coh-f', 'flu-f','coh-g', 'flu-g','coh-h', 'flu-h',]]
df1_xsum.describe()

,coh-a,flu-a,coh-b,flu-b,coh-c,flu-c,coh-d,flu-d,coh-e,flu-e,coh-f,flu-f,coh-g,flu-g,coh-h,flu-h
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,4.333333,4.800000,3.933333,3.400000,3.400000,3.600000,4.000000,4.200000,2.933333,3.266667,3.666667,4.200000,3.533333,3.400000,3.400000,4.000000
std,0.912871,0.767391,0.862812,1.090362,0.365148,0.954521,0.849837,0.691215,0.641179,1.038161,1.054093,0.691215,1.386442,1.552775,1.140175,0.816497
min,3.333333,4.000000,2.666667,2.000000,3.000000,2.333333,2.666667,3.666667,2.000000,2.000000,2.000000,3.666667,2.000000,1.666667,1.666667,3.000000
25%,3.666667,4.333333,3.666667,3.000000,3.333333,3.000000,3.666667,3.666667,2.666667,2.333333,3.333333,3.666667,3.000000,2.333333,3.000000,3.333333
50%,4.333333,4.666667,4.000000,3.333333,3.333333,3.666667,4.333333,4.000000,3.000000,3.666667,4.000000,4.000000,3.000000,3.333333,3.666667,4.333333
75%,4.666667,5.000000,4.333333,3.666667,3.333333,4.333333,4.666667,4.333333,3.333333,4.000000,4.333333,4.333333,4.000000,4.000000,4.000000,4.333333
max,5.666667,6.000000,5.000000,5.000000,4.000000,4.666667,4.666667,5.333333,3.666667,4.333333,4.666667,5.333333,5.666667,5.666667,4.666667,5.000000

In [53]:
df2 = pd.read_csv('datasets/annotation/Annotation_all-b.csv', encoding='latin-1')
df2.head()

,index,a,coh-a-1,flu-a-1,coh-a-2,flu-a-2,coh-a-3,flu-a-3,b,coh-b-1,...,coh-d,flu-d,coh-e,flu-e,coh-f,flu-f,coh-g,flu-g,coh-h,flu-h
0,squad-better,"In 1954, major Serbian and Croatian writers, l...",6.0,6,6.0,6.0,4.0,4.0,"In 1954 , major Serbian and Croatian writers ,...",1.0,...,4.666667,5.333333,4.666667,4.333333,3.333333,4.000000,3.666667,5.333333,4.666667,6.000000
1,squad-better,The Bush administration then turned its attent...,6.0,6,7.0,7.0,6.0,6.0,The Bush administration then turned its attent...,3.0,...,4.000000,4.333333,4.000000,4.666667,2.666667,2.666667,5.000000,4.666667,5.666667,5.000000
2,squad-better,An adolescent's environment plays a huge role ...,6.0,7,5.0,6.0,6.0,6.0,An adolescent 's environment plays a huge role...,1.0,...,4.666667,5.000000,5.000000,5.666667,4.666667,5.666667,5.333333,5.333333,3.666667,5.666667
3,squad-better,"Compared to other team sports, the National Fo...",6.0,5,5.0,5.0,3.0,5.0,"Compared to other team sports , the National F...",5.0,...,3.000000,4.333333,4.333333,5.000000,2.666667,4.333333,4.333333,3.333333,5.333333,5.666667
4,squad-better,"In practice, not all rule violations will resu...",5.0,6,4.0,5.0,5.0,6.0,"In practice , not all rule violations will res...",5.0,...,5.000000,5.333333,5.666667,5.333333,5.333333,5.000000,5.666667,5.333333,4.333333,5.666667

In [54]:
result_list = df2[:5]['best-1'].tolist() + df2[:5]['best-2'].tolist() + df2[:5]['best-3'].tolist()

count_dict = Counter(result_list)

print(count_dict)

Counter({'a': 4, 'h': 3, 'e': 3, 'g': 2, 'f': 2, 'b': 1})

In [15]:
df2_squad = df2[:5][['coh-a', 'flu-a','coh-b', 'flu-b','coh-c', 'flu-c','coh-d', 'flu-d','coh-e', 'flu-e','coh-f', 'flu-f','coh-g', 'flu-g','coh-h', 'flu-h',]]
df2_squad.describe()

,coh-a,flu-a,coh-b,flu-b,coh-c,flu-c,coh-d,flu-d,coh-e,flu-e,coh-f,flu-f,coh-g,flu-g,coh-h,flu-h
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,5.333333,5.733333,3.133333,3.533333,3.466667,3.866667,4.266667,4.866667,4.733333,5.000000,3.733333,4.333333,4.800000,4.800000,4.733333,5.600000
std,0.707107,0.596285,1.643168,2.076322,1.609002,1.386442,0.795822,0.505525,0.641179,0.527046,1.211060,1.130388,0.802773,0.869227,0.795822,0.365148
min,4.666667,5.000000,1.000000,1.000000,1.666667,1.666667,3.000000,4.333333,4.000000,4.333333,2.666667,2.666667,3.666667,3.333333,3.666667,5.000000
25%,4.666667,5.333333,2.000000,1.666667,2.000000,3.333333,4.000000,4.333333,4.333333,4.666667,2.666667,4.000000,4.333333,4.666667,4.333333,5.666667
50%,5.333333,5.666667,3.333333,4.333333,3.666667,4.666667,4.666667,5.000000,4.666667,5.000000,3.333333,4.333333,5.000000,5.333333,4.666667,5.666667
75%,5.666667,6.333333,4.333333,5.000000,4.666667,4.666667,4.666667,5.333333,5.000000,5.333333,4.666667,5.000000,5.333333,5.333333,5.333333,5.666667
max,6.333333,6.333333,5.000000,5.666667,5.333333,5.000000,5.000000,5.333333,5.666667,5.666667,5.333333,5.666667,5.666667,5.333333,5.666667,6.000000

In [58]:
result_list = df2[5:10]['best-1'].tolist() + df2[5:10]['best-2'].tolist() + df2[5:10]['best-3'].tolist()

count_dict = Counter(result_list)

print(count_dict)

Counter({'e': 4, 'a': 4, 'd': 2, 'g': 2, 'h': 1, 'b': 1, 'c': 1})

In [59]:
df2_writing = df2[5:10][['coh-a', 'flu-a','coh-b', 'flu-b','coh-c', 'flu-c','coh-d', 'flu-d','coh-e', 'flu-e','coh-f', 'flu-f','coh-g', 'flu-g','coh-h', 'flu-h',]]
df2_writing.describe()

,coh-a,flu-a,coh-b,flu-b,coh-c,flu-c,coh-d,flu-d,coh-e,flu-e,coh-f,flu-f,coh-g,flu-g,coh-h,flu-h
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,4.266667,4.000000,3.400000,3.400000,4.200000,4.000000,3.400000,3.133333,3.333333,3.866667,2.200000,2.533333,3.333333,2.800000,3.200000,3.200000
std,0.596285,0.745356,1.935057,1.906130,1.366260,1.154701,1.140175,0.649786,0.623610,0.869227,0.505525,1.169045,1.545603,1.366260,1.757524,0.900617
min,3.333333,3.666667,1.333333,1.000000,2.000000,2.000000,2.333333,2.333333,2.666667,2.666667,1.333333,1.333333,1.000000,1.000000,1.333333,2.333333
25%,4.000000,3.666667,1.666667,2.000000,4.000000,4.333333,2.333333,2.666667,3.000000,3.333333,2.333333,1.666667,2.666667,2.333333,2.333333,2.666667
50%,4.666667,3.666667,3.666667,3.666667,4.666667,4.333333,3.333333,3.333333,3.333333,4.000000,2.333333,2.666667,3.666667,2.333333,2.333333,2.666667
75%,4.666667,3.666667,4.333333,4.666667,4.666667,4.333333,4.000000,3.333333,3.333333,4.666667,2.333333,2.666667,4.666667,4.000000,4.333333,4.000000
max,4.666667,5.333333,6.000000,5.666667,5.666667,5.000000,5.000000,4.000000,4.333333,4.666667,2.666667,4.333333,4.666667,4.333333,5.666667,4.333333

In [60]:
result_list = df2[10:]['best-1'].tolist() + df2[10:]['best-2'].tolist() + df2[10:]['best-3'].tolist()

count_dict = Counter(result_list)

print(count_dict)

Counter({nan: 30, 'a': 4, 'h': 4, 'f': 3, 'e': 2, 'd': 1, 'c': 1})

In [61]:
df2_xsum = df2[10:][['coh-a', 'flu-a','coh-b', 'flu-b','coh-c', 'flu-c','coh-d', 'flu-d','coh-e', 'flu-e','coh-f', 'flu-f','coh-g', 'flu-g','coh-h', 'flu-h',]]
df2_xsum.describe()

,coh-a,flu-a,coh-b,flu-b,coh-c,flu-c,coh-d,flu-d,coh-e,flu-e,coh-f,flu-f,coh-g,flu-g,coh-h,flu-h
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,4.333333,4.733333,2.000000,1.466667,3.866667,3.400000,3.266667,3.066667,3.733333,3.600000,4.200000,3.733333,3.600000,3.733333,3.933333,4.266667
std,0.666667,0.829993,0.666667,0.380058,0.447214,1.011050,1.876758,1.588151,1.256096,0.795822,1.069787,1.090362,1.233784,1.038161,1.233784,0.494413
min,3.666667,3.666667,1.000000,1.000000,3.333333,2.000000,1.333333,1.666667,1.666667,2.666667,3.000000,2.000000,2.000000,2.666667,2.333333,3.666667
25%,4.000000,4.000000,1.666667,1.333333,3.666667,3.000000,1.666667,1.666667,3.666667,3.000000,3.333333,3.666667,3.000000,3.000000,3.000000,4.000000
50%,4.000000,5.333333,2.333333,1.333333,3.666667,3.333333,3.666667,2.666667,4.000000,3.666667,4.333333,4.000000,3.666667,3.333333,4.333333,4.333333
75%,4.666667,5.333333,2.333333,1.666667,4.333333,4.000000,3.666667,4.000000,4.333333,4.000000,4.666667,4.000000,4.000000,4.666667,4.666667,4.333333
max,5.333333,5.333333,2.666667,2.000000,4.333333,4.666667,6.000000,5.333333,5.000000,4.666667,5.666667,5.000000,5.333333,5.000000,5.333333,5.000000